[submodule "projects/udacity/self-driving-car/_posts/submodules/CarND-Kidnapped-Vehicle"]
	path = projects/udacity/self-driving-car/_posts/submodules/CarND-Kidnapped-Vehicle
	url = https://github.com/pabaq/CarND-Kidnapped-Vehicle.git
[submodule "projects/udacity/self-driving-car/_posts/submodules/CarND-Path-Planning"]
	path = projects/udacity/self-driving-car/_posts/submodules/CarND-Path-Planning
	url = https://github.com/pabaq/CarND-Path-Planning.git
[submodule "projects/udacity/self-driving-car/_posts/submodules/CarND-Traffic-Sign-Classifier"]
	path = projects/udacity/self-driving-car/_posts/submodules/CarND-Traffic-Sign-Classifier
	url = https://github.com/pabaq/CarND-Traffic-Sign-Classifier.git
[submodule "projects/udacity/self-driving-car/_posts/submodules/CarND-Advanced-Lane-Finding"]
	path = projects/udacity/self-driving-car/_posts/submodules/CarND-Advanced-Lane-Finding
	url = https://github.com/pabaq/CarND-Advanced-Lane-Finding.git
[submodule "projects/udacity/self-driving-car/_posts/submodules/CarND-Behavioral-Cloning"]
	path = projects/udacity/self-driving-car/_posts/submodules/CarND-Behavioral-Cloning
	url = https://github.com/pabaq/CarND-Behavioral-Cloning.git
