.image {
  max-width: 100%;
  @extend .image--md;
}
// Added important so that image size ist kept under all circumstances
.image--md {
  width: map-get($image, width) !important;
}
.image--xl {
  width: map-get($image, width-xl) !important;
}
.image--lg {
  width: map-get($image, width-lg) !important;
}
.image--sm {
  width: map-get($image, width-sm) !important;
}
.image--xs {
  width: map-get($image, width-xs) !important;
}
